.okenko{
    background-color: #ffa31a;
    border: 1px solid black;
    width: 500px;
    border-radius: 10px;
}

main{
    display: flex;
    justify-content: center;
}

.odsazeni{
    display: flex;
    justify-content: center;
    margin: 16px 0;

}
.buttons a {
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;  
}

.odsazeni label{
    width: 150px;
}

body{
    background-color: rgb(41, 41, 41);
}